/*@charset "UTF-8";*/


tr,td{
	align:center;
	font-size: 10px;
	border: 1px solid #000000;
}

.headStyle {
	align: center;
	/*left   right*/
}

.dBot2 {
	border-bottom: 1px solid #C0C0C0;
	height: 100%;
	font-size: 12px
}

.tianGanSel{
	font-size: 12px;
	font: bold;
	color: blue;"
}

.diZhiSel{
	font-size: 12px;
	font: bold;
	color: brown;"
}



